@model IEnumerable<GovernadorStore.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Cadastrar novo Produto</a>
</p>
<partial name="_ListaProdutos"/>
